body {
  background-attachment: fixed;
  max-height: 100%;
  max-width: 100%;
}

.container-login {
  align-items: center;
  background-color: white;
  border: 1px solid;
  border-color: black;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  margin: 100px auto;
  max-width: 500px;
  padding: 50px;
  /* width: 50%; */
}

/* CONTAINER INPUTS */
.container-email input , .container-password input {
  font-size: 14px;
  /* margin-bottom: 20px; */
  /* border: 1px solid #5f5f5e; */
  /* border-radius: 5px;
  margin-bottom: 10px; */
}

/* CONTAINER BUTTON */
.container-btn {
  align-items: baseline;
  display: flex;
  flex-direction: row;

}

.container-btn button {
  background-color: rgb(102, 219, 102);
  border: none;
  border-color: rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.15) 0 3px 3px 0;
  color: white;
  font-size: 12px;
  font-weight: 700;
  margin: 8px;
  padding: 6px 25px;
  text-transform: uppercase;
  touch-action: manipulation;
  transition: all 250ms;
  user-select: none;
  vertical-align: baseline;
  width: 100%;
}

button:hover:enabled {
  color: black;
}

button:disabled {
  background: grey;
}
