table {
  border-collapse: collapse;
  text-align: center;
  width: 100%;
}

.table-head {
  background-color: rgb(49, 48, 48);
  color: white;
}

.table-rows {
  background-color: whitesmoke;
  color: black;
}

